[submodule "elixir_beacon"]
	path = elixir_beacon
	url = https://github.com/sdelatorrep/elixir_beacon.git
[submodule "elixir_core"]
	path = elixir_core
	url = https://github.com/sdelatorrep/elixir_core.git
